* {
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chatbot {
    background-color: white;
    align-content: center;
    width: 350px;
    height: calc(425px + 65px + 3.75rem);
    position: fixed;
    right: 32px;
    bottom: 150px;
    border-radius: 0.6rem;
}

.popup-button {
    background-image: url('assets/popup_button.svg');
    background-repeat: no-repeat;
    background-color: #f7f7f7;
    border: none;
    width: 3rem;
    height: 3rem;
    float: right;
    margin-right: 0.5rem;
    margin-top: calc(425px + 70.5px);
    border-radius: 100%;
    -webkit-box-shadow: 0 2.5px 2.5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2.5px 2.5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2.5px 2.5px 0 rgba(0,0,0,0.2);
}

.popup-button:hover {
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}

.close-chat {
    background-image: url('assets/chat_close_icon.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 1.30rem;
    height: 1.30rem;
    float: right;
    margin-right: 0.5rem;
    margin-top: 10px;
    border-radius: 100%;
}

.close-chat:hover {
    -webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
}

.bot-interface {
    display: none;
    background-color: white;
    align-content: center;
    width: 350px;
    height: calc(425px + 65px + 3.75rem);
    position: fixed;
    right: 32px;
    bottom: 150px;
    border-radius: 0.6rem;
    -webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

@-moz-document url-prefix() {
    html,body{overflow: hidden !important;}
}

#chat-box {
    background-color:white;
    margin-top: 10px;
    width: 335px;
    height: 405px;
    font-size: 20px;
    overflow-y: auto;
    scrollbar-width: none;
}

#bot-sub-dia-1 {
    background-color: #ededed;
    border-radius: 25px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    
}

#user-sub-dia-2 {
    background-color: #00bfff;
    color: white;
    margin-left: 0px;
    border-radius: 25px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}

.dialogue-container {
    background-color: #ededed;
    margin-bottom: 0px;
    max-width: 300px;
}

.option-button {
    background-color: #00bfff;
    color: white;
    border-radius: 0.25rem;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-shadow: 0 2.5px 2.5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2.5px 2.5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

.option-button:hover {
    -webkit-box-shadow: 0 2.5px 2.5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2.5px 2.5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

#dialogue-container {
    max-width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.chat-header {
    background-color: #02a4ef;
    color: white;
    font-size: x-large;
    font-weight: semi-bold;
    padding: 15px;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    -webkit-box-shadow: 0 1.5px 1.5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1.5px 1.5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1.5px 1.5px 0 rgba(0,0,0,0.2);
}

.input {
    margin-top: 10px;
    z-index: 10;
} 

.msg {
    background-color: #f7f7f7;
    border: none;
    outline: none;
    width: 200px;
    height: 3.75rem;
    margin-left: 1rem;
}

.send {
    background-image: url('assets/send_icon.svg');
    background-repeat: no-repeat;
    background-color: #f7f7f7;
    border: none;
    width: 3rem;
    height: 3rem;
    float: right;
    margin-right: 0.5rem;
    margin-top: 5px;
    border-radius: 100%;
    -webkit-box-shadow: 0 2.5px 2.5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2.5px 2.5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2.5px 2.5px 0 rgba(0,0,0,0.2);
}

.send:hover {
    -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

.sendmsg {
    background-color: #f7f7f7;
    margin-top: auto;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;    
    -webkit-box-shadow: 0 1.5px 1.5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1.5px 1.5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 -1.5px 1.5px 0 rgba(0,0,0,0.2);
} 