* {
    outline: none;
    /* font-family: 'Ubuntu Mono', monospace; */
    font-family: 'Source Code Pro', monospace;
    font-size: medium;
}

.chatbot {
    background-color: transparent;
    align-content: center;
    width: 425px;
    height: calc(375px + 65px + 3.75rem);
    position: fixed;
    right: 32px;
    bottom: 32px;
    border-radius: 0.6rem;
}


.popup-button {
    background-image: url('assets/popup_button_light.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
    border: none;
    width: 3rem;
    height: 3rem;
    float: right;
    margin-right: 0.5rem;
    margin-top: calc(375px + 70.5px);
    border-radius: 100%;
    -webkit-box-shadow: 0 2.5px 2.5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2.5px 2.5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2.5px 2.5px 0 rgba(0,0,0,0.2);
}

.popup-button:hover {
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}

.close-chat {
    background-image: url('assets/chat_close_icon.svg');
    background-size: 1.30rem 1.30rem;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 1.30rem;
    height: 1.30rem;
    float: right;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 100%;
}

.close-chat:hover {
    -webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
}

.bot-interface {
    display: none;
    background-color: transparent;
    -webkit-backdrop-filter: blur(2.5px);
    backdrop-filter: blur(2.5px);
    background-color: rgba(10,10,10,0.925);
    align-content: center;
    width: 425px;
    height: calc(375px + 65px + 3.75rem);
    position: fixed;
    right: 32px;
    bottom: 32px;
    border-radius: 0.6rem;
    -webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

@-moz-document url-prefix() {
    html,body{overflow: hidden !important;}
}

#chat-box {
    margin-top: 0px;
    width: 400px;
    height: calc(285px + 65px + 3.75rem);
    font-size: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    margin: 10px;
}

#dialogue-container {
    color: snow;
    max-width: 100%;
}

#bot-prompt {
    color: skyblue;
}

#user-prompt {
    color: greenyellow;
}

.chat-header {
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-top-right-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
    font-size: x-large;
    padding: 0.75rem;
}

.user-input {
    background: none;
    color: snow;
    border: none;
    resize: none;
    /* height: 11px;
    margin: 0px; */
}

.dialogue {
    margin-top: 0px; 
    margin-left: 0px; 
    margin-bottom: 0px; 
    margin-right: 20px;
}

.dialogue p {
    display: inline;
}

.bounds {
    color: whitesmoke;
}

@media (max-width: 480px) {
    * {
        outline: none;
        /* font-family: 'Ubuntu Mono', monospace; */
        font-family: 'Source Code Pro', monospace;
        font-size: small;
    }

    #chat-box {
        width: 300px;
        height: calc(200px + 65px + 3.75rem);
    }

    .bot-interface {
        width: 325px;
        height: calc(275px + 65px + 3.75rem);
    }

    .chatbot {
        width: 300px;
        height: calc(185px + 65px + 3.75rem);
    }

    .popup-button {
        margin-top: calc(175px + 70.5px);
        width: 50px;
        height: 50px;
    }

    #dialogue-container {
        color: snow;
        max-width: 100%;
    } 
    
    .chat-header {
        font-size: large;
    }

    .bounds {
        font-size: 12px;
    }

    .user-input {
        width: 110px;
    }
}